[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BAYSTAR"]
	path = BAYSTAR
	url = https://github.com/cran/BAYSTAR
	shallow = true
	registered = true
